RewriteEngine On
RewriteEngine On
RewriteCond %{HTTP_HOST} !^petitgarage.ro$
RewriteRule ^(.*)$ https://petitgarage.ro/$1 [R=301,L]
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /index.html [L]