.contact_main {
    display: flex;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*  Desktop  */
@media only screen and (min-width: 1024px) {
    .contact_main {
        gap: 32px;
        min-height: calc(100vh - 96px);
        height: auto;
    }

    .contact_main .map-wrapper, .contact_main .details-wrapper {
        width: calc(50% - 16px);
    }
}

/*  Mobile  */
@media only screen and (max-width: 1024px) {
    .contact_main .map-wrapper {
        width: 100%;
        height: calc(100vh - 64px);
    }

    .contact_main .details-wrapper {
        width: 100%;
        min-height: 100vh;
        height: auto;
    }
}
